<table>
  <thead>
    <th>ID</th>
    <th>Username</th>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <div *ngIf="this.loggedUser | async as data">
      <th *ngIf="data.role == 'admin'">Action</th>
    </div>
  </thead>
  <tbody>
    <tr *ngFor="let row of data; let i = index; trackBy: trackByFn">
      <td *ngIf="!editToggle">{{ row.id }}</td>
      <td *ngIf="!editToggle">{{ row.username }}</td>
      <td *ngIf="!editToggle">{{ row.name }}</td>
      <td *ngIf="!editToggle">{{ row.email }}</td>
      <td *ngIf="!editToggle">{{ row.role }}</td>
      <div *ngIf="this.loggedUser | async as data">
        <button *ngIf="data.role == 'admin'" (click)="editUser(row.id)">
          Edit
        </button>
        <button
          *ngIf="data.role == 'admin' && data.id != row.id"
          (click)="deleteUser(row.id)"
        >
          Delete
        </button>
      </div>
    </tr>
  </tbody>
</table>

<!-- <form [formGroup]="userData">
  <div formArrayName="users">
     <div *ngFor="let user of userData.controls.users.controls;let i = index;trackBy:trackByFn">
      <label for="">User:{{i+1}}</label>
      <app-custom-input
      label="UserId:"
      type="text"
      [placeholder]="user[0].value.id"
      ></app-custom-input>
      <app-custom-input
      label="Username:"
      type="text"
      [placeholder]="user[0].value.username"
      ></app-custom-input>
      <app-custom-input
      label="Email:"
      type="text"
      [placeholder]="user[0].value.email"
      ></app-custom-input>
      <app-custom-input
      label="Name:"
      type="text"
      [placeholder]="user[0].value.name"
      [value]="user[0].value.name"
      ></app-custom-input>
     </div>
  </div>
</form> -->
