<br>
<div *ngIf="loggedUser">
  <div *ngIf="loggedUser.role == 'admin'">
    <button (click)="downloadData()">Download</button>
    <button (click)="downloadDataStream()">Download  Stream</button>
    <br />
    <br />
  </div>
</div>

<table>
  <thead>
    <th>ID</th>
    <th>Username</th>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <div *ngIf="loggedUser">
      <th *ngIf="loggedUser.role == 'admin'">Action</th>
    </div>
  </thead>
  <tbody>
    <tr *ngFor="let row of data; let i = index; trackBy: trackByFn">
      <td>{{ row.id }}</td>
      <td>{{ row.username }}</td>
      <td>{{ row.name }}</td>
      <td>{{ row.email }}</td>
      <td>{{ row.role }}</td>
      <div *ngIf="loggedUser">
        <div *ngIf="loggedUser.role == 'admin'">
          <button *ngIf="editToggle != i + 1" (click)="editUser(i + 1, row.id)">
            Edit
          </button>
          <button *ngIf="editToggle == i + 1" (click)="cancelEdit()">
            Cancel
          </button>
          <button *ngIf="loggedUser.id != row.id" (click)="deleteUser(row.id)">
            Delete
          </button>
        </div>
      </div>
    </tr>
  </tbody>
</table>

<div *ngIf="editToggle">
  <br /><br />
  <form [formGroup]="editForm" (ngSubmit)="onEditFormSubmit()">
    <app-custom-input
      type="text"
      [placeholder]="data[editToggle - 1].name"
      label="Name:"
      formControlName="name"
    ></app-custom-input>
    <app-custom-input
      type="email"
      [placeholder]="data[editToggle - 1].email"
      label="Email:"
      formControlName="email"
    ></app-custom-input>
    <button>Submit</button>
  </form>
</div>