<br />
<div *ngIf="this.loggedUser | async as data">
  <div *ngIf="data.role == 'admin'">
    <button (click)="downloadData()">Download</button>
    <br />
    <br />
  </div>
</div>
<table>
  <thead>
    <th>ID</th>
    <th>Username</th>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <div *ngIf="this.loggedUser | async as data">
      <th *ngIf="data.role == 'admin'">Action</th>
    </div>
  </thead>
  <tbody>
    <tr *ngFor="let row of data; let i = index; trackBy: trackByFn">
      <td>{{ row.id }}</td>
      <td>{{ row.username }}</td>
      <td>{{ row.name }}</td>
      <td>{{ row.email }}</td>
      <td>{{ row.role }}</td>
      <div *ngIf="this.loggedUser | async as data">
        <div *ngIf="data.role == 'admin'">
          <button *ngIf="editToggle != i + 1" (click)="editUser(i + 1, row.id)">
            Edit
          </button>
          <button *ngIf="editToggle == i + 1" (click)="cancelEdit()">
            Cancel
          </button>
          <button *ngIf="data.id != row.id" (click)="deleteUser(row.id)">
            Delete
          </button>
        </div>
      </div>
    </tr>
  </tbody>
</table>

<div *ngIf="editToggle">
  <br /><br />
  <form [formGroup]="editForm" (ngSubmit)="onEditFormSubmit()">
    <app-custom-input
      type="text"
      [placeholder]="data[editToggle - 1].name"
      label="Name:"
      formControlName="name"
    ></app-custom-input>
    <app-custom-input
      type="email"
      [placeholder]="data[editToggle - 1].email"
      label="Email:"
      formControlName="email"
    ></app-custom-input>
    <button>Submit</button>
  </form>
</div>

<!-- <form [formGroup]="userData">
  <div formArrayName="users">
     <div *ngFor="let user of userData.controls.users.controls;let i = index;trackBy:trackByFn">
      <label for="">User:{{i+1}}</label>
      <app-custom-input
      label="UserId:"
      type="text"
      [placeholder]="user[0].value.id"
      ></app-custom-input>
      <app-custom-input
      label="Username:"
      type="text"
      [placeholder]="user[0].value.username"
      ></app-custom-input>
      <app-custom-input
      label="Email:"
      type="text"
      [placeholder]="user[0].value.email"
      ></app-custom-input>
      <app-custom-input
      label="Name:"
      type="text"
      [placeholder]="user[0].value.name"
      [value]="user[0].value.name"
      ></app-custom-input>
     </div>
  </div>
</form> -->
